In [1]:
import sqlite3

In [15]:
import pandas as pd

In [2]:
query = """CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER)"""

In [3]:
con = sqlite3.connect('mydata.sqlite')

In [4]:
con.execute(query)

In [5]:
con.commit()

In [6]:
data = [('Atlana', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

In [7]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [8]:
con.executemany(stmt, data)

In [9]:
con.commit()

In [10]:
cursor = con.execute('select * from test')

In [11]:
rows = cursor.fetchall()

In [12]:
rows

[('Atlana', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [14]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [18]:
frame = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [19]:
frame

             a           b     c  d
0       Atlana     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [20]:
frame.a

0         Atlana
1    Tallahassee
2     Sacramento
Name: a, dtype: object

In [21]:
frame.a[0]

'Atlana'